html { font-size: 62.5%; } 
body {
				font-family: 'Open Sans', sans-serif;
				text-align: center;
				font-weight: 300;
}
			
.title {
font-size: 30px;
color: #4F4F4F;
}

.subtitle {
font-size: 14px;
color: #AAAAAA;
padding-bottom: 15px;
}

.geo-path {
stroke: white;
stroke-width: 0.5px;
stroke-opacity: 1;
fill: #C0AA91;
fill-opacity: 1;
}

.cities,  .cityCover{
fill: #1A818C;
}

.label{
font-size: 18px;
text-anchor: middle;
fill: #707070;
font-family: 'Poiret One', cursive;
font-weight: 400;
}